$main-color: #3369F3;
$btn-text-color: #FFFFFF;
$main-text-color: #000000;
$secondary-text-color: #999999;
$border-color: #EAEAEA;
$font-small: 9px;
$font-medium: 11px;
$font-large: 13px;
$font-extra-large: 16px;
$font-h2: 20px;
