@use "../../../styles/variables" as v;

.chats-sidebar {
    &__item {
        border-top: 1px solid v.$border-color;
        border-bottom: 1px solid v.$border-color;
        padding: 12px 10px;
        display: flex;
        flex-direction: row;
        cursor: pointer;

        &.active {
            background: #E4EDFD
        }
    }

    &__avatar {
        margin-right: 10px;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__message-wrapper {
        width: 100%;
    }

    &__message-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            margin-top: 4px;
        }
    }

    &__message-time {
        margin: 0;
        font-size: v.$font-large;
        line-height: 13px;
        color: v.$secondary-text-color;
    }

    &__message-name {
        margin: 0;
        font-size: v.$font-large;
        color: #1E1E1E;
        font-weight: 600;
    }

    &__message-last {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        color: v.$secondary-text-color;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 193px;
        height: 30px;
    }

    &__message-count {
        font-size: v.$font-medium;
        color: #FFFFFF;
        line-height: 12px;

        &-wrapper {
            background-color: v.$main-color;
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
