@use "../../../styles/variables" as v;

.chats-main__messages-message {
    &.incoming {
        align-self: flex-start;
        background: v.$incoming-message-bg-color;
        border-radius: 0 10px 10px 10px;

        .chats-main__messages-message-text::after {
            width: 36px;
        }

        .chats-main__messages-message-info-time {
            color: v.$secondary-text-color;
        }
    }

    align-self: flex-end;
    display: inline-block;
    max-width: 402px;
    padding: 11px;
    position: relative;
    background: v.$highlight-bg-color;
    border-radius: 10px 10px 0 10px;

    &-text {
        margin: 0;
        font-size: v.$font-size-12;
        line-height: 15px;
        color: v.$text-color;
        white-space: pre-wrap;

        &::after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 15px;
            vertical-align: bottom;
        }
    }

    &-info {
        position: absolute;
        right: 11px;
        bottom: 11px;
        display: flex;
        align-items: center;
        gap: 4px;

        &-icon {
            display: block;
            flex-shrink: 0;
        }

        &-time {
            font-size: v.$font-size-9;
            line-height: 1;
            color: v.$main-color;
            white-space: nowrap;
        }
    }
}
